.langopbutton{
	text-indent: 3px;
	border: gold 3px 3px;
	background-color: white;
	width: 50%;
	height: 20%;
	color: black;
}
.langopbutton:hover{
	color: white;
	background-color: gray;
}
.l{
	float: left;
}
.r{
	float: right;
}
